# DATABASE
sonar.jdbc.username={{ sonar_username }}
sonar.jdbc.password={{ sonar_password }}
sonar.jdbc.url=jdbc:postgresql://localhost/{{ sonar_db }}
# WEB SERVER
sonar.web.host=0.0.0.0
sonar.web.port=9000
